.he{background-color: rgba(0, 0, 0, 1);}

.Lblancas{color:white;}

#sect1{background-color:#F0A83E;}

#primera{background-color: #F0A83E;}

.titulo{position:relative;
        right: -550px;}


#descuentos{position: relative;
            left: 400px;}

.marron{background-color: rgba(60, 35,19, 1) ;  }